.job-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
 
  width: 30%;
  margin:  auto;
  margin-top: 30px;
  
}

.job-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.job-card-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.job-card-location {
  font-size: 18px;
  margin: 0;
}

.job-card-body {
  margin-bottom: 20px;
}

.job-card-company {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.job-card-description {
  font-size: 16px;
  margin: 0;
}

.job-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job-card-date {
  font-size: 16px;
  margin: 0;
}

.job-card-apply-btn {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: #0066cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
