nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: #e2e2e2;
}

.navbar-logo a {
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  color: black;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.navbar-links a {
  margin: 0 10px;
  color: #333;
  text-decoration: none;
  font-size: large;
}

.job-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
 
  width: 30%;
  margin:  auto;
  margin-top: 30px;
  
}

.job-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.job-card-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.job-card-location {
  font-size: 18px;
  margin: 0;
}

.job-card-body {
  margin-bottom: 20px;
}

.job-card-company {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.job-card-description {
  font-size: 16px;
  margin: 0;
}

.job-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job-card-date {
  font-size: 16px;
  margin: 0;
}

.job-card-apply-btn {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: #0066cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  transition: transform .2s;
  padding: 20px;
  max-width: 200px;
  margin-left: 30%;
}

.card:hover {
  transform: scale(1.05);
}

.card h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
}

/* 
.post-section {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-name {
  margin: 0;
}

.post-date {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.post-content {
  margin-bottom: 10px;
}

.post-image {
  max-width: 100%;
  margin-top: 10px;
}

.post-footer {
  display: flex;
  justify-content: space-between;
}

.like-button,
.comment-button,
.share-button {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.like-button:hover,
.comment-button:hover,
.share-button:hover {
  background-color: #f0f0f0;
}

*/